
# =========================
# FastAPI
# =========================
fastapi
uvicorn[standard]

# =========================
# Vector Database
# =========================
chromadb

# =========================
# Embedding Models
# =========================
sentence-transformers
torch

# =========================
# Document Processing
# =========================
pypdf
python-docx

# =========================
# Config
# =========================
python-dotenv
pydantic
pydantic-settings

# =========================
# Utilities
# =========================
tqdm
requests

# =========================
# Testing
# =========================
pytest

# =========================
# OpenAI 
# =========================
openai

langchain-text-splitters 